<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.h.azkary">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
[
        </activity>
        <activity android:name=".CountActivity"/>
        <activity android:name=".MyAzkarActivity"/>
        <activity android:name=".MyFavActivity"/>
        <activity android:name=".DefaultAzkarActivity">

        </activity>
        <activity android:name=".AddNewZekrActivity"

        android:theme="@android:style/Theme.Holo.Dialog.MinWidth">

        </activity>

        <activity android:name=".EditZekrActivity"

                  android:theme="@android:style/Theme.Holo.Dialog.MinWidth">

        </activity>
    </application>

</manifest>